@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");

body {
  height: 90vh;
  margin: 0;
  background-color: #f6f6f6;
  font-family: "Gabarito", "sans-serif";
  color: #3c3c3c;

  padding: 1.5rem;
}

.main_container {
  max-width: 112.5rem;
  min-height: 93vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;

  background-color: #3c3c3c;
}

.page-padding {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Responsiveness */

@media screen and (min-width: 1440px) {
  .page-padding {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .page-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .page-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .page-padding {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
