@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General */
* {
  box-sizing: border-box;
}

body {
  height: 90vh;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: "Gabarito", "sans-serif";
  color: #f6f6f6;

  padding: 1.5rem;
}

.main_container {
  max-width: 117.5rem;
  min-height: 95vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;

  background-color: #3c3c3c;
}

.page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  font-family: "Bitter", "serif";
  font-size: 7rem;
  font-weight: 400;
  margin: 0;
  line-height: 90%;
}

/* Logo */

.img-logo {
  height: auto;
  width: 200px;

  align-self: center;
  justify-self: start;
}

/* Button */
.button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: #3c3c3c;
  background-color: #d7fa88;
  border-radius: 5px;
  cursor: pointer;
}

/* Navbar */

.navbar {
  padding-top: 2.5rem;
}

.navbar-container {
  width: 100%;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 7em;
}

.navbar-menu-item {
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
}

.nav-right {
  align-self: center;
  justify-self: end;
}

.navbar span {
  font-size: 1.2rem;
}

/* Hero Section */

.main-hero-container {
  padding-top: 6rem;
}

.hero-title {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-column-gap: 2rem;
  align-items: end;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 400;
}

.hero-image-container {
  width: 100%;
}

.hero-image-wrapper {
  padding-top: 4rem;
  height: 1000px;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.hero-banner {
  max-width: 100%;
  text-align: center;
  color: #3c3c3c;
  background-color: #d7fa88;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;

  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rfm-marquee {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rfm-marquee span {
  margin-right: 2rem;
}

/* Responsiveness */

@media screen and (min-width: 1440px) {
  .page-padding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 991px) {
  .page-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .page-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .page-padding {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 5rem;
  }
}
